.content_login{
    background-image: url("https://codingcirculate-restaurant-design.on.fleek.co/static/media/home-img.965e18e60a1521e7e1af");
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 360px;
    padding: 10px 6px 4px 6px;
    border: solid 1px #fff;
    background-color: rgba(255, 255, 255,0.4);
    border-radius: 6px;
    text-align: center;
}
.logo_form {
    width: 120px;
    height: 120px;
    padding: 10px 0;
}
.input_form {
    position: relative;
    width: 96%;
    height: 30px;
    border-radius: 4px;
    margin: 4px 0;
}
.content_eye {
    width:20px;
    height:20px;
    position: absolute;
    left:826px;
    top:458px
}
.form_button {
    display: flex;
    justify-content: space-around;
    margin: 6px 0;
}
.button {
    width: 160px;
    height: 36px;
    background-color: #ffc107;
    border: none;
    border-radius: 8px;
}
.login_gg{
    width:60%;
    display:flex;
    align-items: center;
    margin:0 auto;
    background-color:#ffc107;
    justify-content:center;
    border-radius:8px
}
@media only screen and (max-width:740px) {
    .content_login {
        width:100%;
        height:680px !important;
        display:flex;
        align-items:center;
        justify-content:center
    }
    .form {
        width: 200px;
        height: 300px;
        padding: 10px 10px 4px 10px;
        border: solid 1px #fff;
        background-color: rgba(255, 255, 255,0.4);
        border-radius: 6px;
        text-align: center;
    }
}