.contentYoutube {
    display: flex;
    line-height:20px;
}
.imageFood {
    width:200px;
    height:200px;
    margin-right:10px;
}
.contentBodyComment {
    margin-bottom:16px
}
.userComment {
    display:flex;
    align-items: center;
    margin-bottom:6px;
 
}
.contentComment {
    display:flex;
    background-color:rgba(255,255,255,0.1);
    width:40%;
    padding:2px 2px;
    margin:6px 0;
}
.buttonSend {
    width:60px;
    background-color:#ffc107;
    border:none;
    height:20px;
}
.detailMeal {
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 8; 
    color:#fff;
    font-weight: 300;
}